html{
    font-size: 62.5%;
}

body{
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-color: #e1e1e1;
}

.contenedor--grid{
    border: 0.2em solid #2c2c2c;
    padding: 0.2em;
    /*Convertir el contenedor en cuadricula*/
    display: grid;
    width: 30em;
    height: 30em;
    /*Se declaran las columnas (tamaño) de la Cuadricula
    Aceptan valores fijos, relativos, porcentajes, auto y se pueden utilizar fr para definir una fraccion del espacio disponible*/
    grid-template-columns: 5em 5em 5em;
    /*Se declaran los renglones o filas de la Cuadricula
    Aceptan valores fijos, relativos, porcentajes, auto y se pueden utilizar fr para definir una fraccion del espacio disponible*/
    grid-template-rows: 10em 10em;
    /*Alinear items en la fila (eje en línea)(start, end, center, strech)*/
    justify-items: center;
    /*Alinear items en la columna (eje en columna)(start, end, center, strech)*/
    align-items: center;
    /*Shorthand: place-items: strech strech;*/
    /*Alinear la Cuadricula a lo largo del eje en línea (fila)
    (start, end, center, strech, space-between, space-around y space-evenly)*/
    justify-content: start;
    /*Alinear la Cuadricula a lo largo del eje en bloque (columna)
    (start, end, center, strech, space-between, space-around y space-evenly)*/
    align-content: space-around;
    gap: 2em;
}

.objeto--grid{
    background-color: #faad53;
    border: 0.1em solid #3f5666;
}

.contenedor--grid2{
    border: 0.2em solid #2c2c2c;
    padding: 0.2em;
    /*Convertir el contenedor en cuadricula*/
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr;
    grid-template-rows: auto;
}

.objeto--grid2{
    background-color: #9e130f;
    border: 0.1em solid #e6d463;
}

.objeto--grid2:nth-child(2){
    color: #fff;
    grid-column: 1 / 4;
    grid-row: 1;
}