html{
    font-size: 62.5%;
}

body{
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b2bebf;
}

.seccion--productos{
    display: flex;
    padding: 0.5em;
    gap: 1em;
    border: 0.2em solid #bd2a2e;
}

.producto{
    border: 0.2em solid #000;
    box-shadow: 0.2em 0.2em 0.2em #000;
    padding: 0.5em;
    max-width: 15em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.producto img{
    max-width: 100%;
    height: 40%;
    object-fit: cover;
    box-shadow: 0.3em 0.3em 0.3em #000;
}

.precio{
    font-weight: bold;
}

.producto button:hover{
    background-color: #486966;
    width: 5em;
    height: 2em;
}

.carrusel--opiniones{
    color: #fff;
    background-color: #3b3936;
    display: flex;
    gap: 3em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.opinion{
    border: 0.2em solid #bd2a2e;
    box-shadow: 0.2em 0.2em 0.2em #000;
    padding: 0.2em;
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: end;
}