html{
    font-size: 62.5%;
}

body{
    border: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(circle, #d02222, #1a4f75);
    background-repeat: no-repeat;
}

#encabezado{
    border: 0.2em solid #6e1180;
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    justify-content: center;
    align-items: center;
}

#encabezado img{
    height: 65%;
    border-radius: 10%;
}

h1{
    font-size: 3em;
    text-align: center;
}

#navegacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.3em;
    gap: 0.3em;
}

#navegacion a{
    text-decoration: none;
    color: #fff;
    background-color: #faad53;
    border-radius: 15%;
    text-shadow: 0.2em 0.2em 0.2em #120247;
    text-align: center;
}

#contenedor--noticias{
    border: 0.2em solid #000;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
}

.noticias{
    border: 0.1em solid #c80a0a;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.noticias h2{
    grid-column: 1 / 4;
    text-align: center;
    align-content: center;
}

.noticia{
    border: 0.1em solid #9e130f;
    box-shadow: 0.2em 0.2em 0.2em #000;
    align-content: center;
    text-align: center;
}

.noticias--urgentes{
    border: 0.1em solid rgb(53, 209, 14);
    grid-column: 5 / 7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 30em;
    overflow-y: auto;
}

.noticias--urgentes h2{
    text-align: center;
    align-content: center;
}

.noticia--u{
    border: 0.1em solid #0c0;
    box-shadow: 0.2em 0.2em 0.2em #cc0;
    align-content: center;
    text-align: center;
    height: 20em;
}

#pie--pagina{
    border: 0.2em solid #a0f;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.contacto{
    border: 0.1em solid #a71bb1;
    grid-column: 1 / 2;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 0.3em;
}

.contacto p{
    text-align: center;
    align-content: center;
}

.contacto a{
    text-decoration: none;
    color: #e6d463;
    text-shadow: 0.2em 0.2em 0.2em #000;
    text-align: center;
    align-content: center;
}

.derechos--autor{
    border: 0.1em solid #000;
    grid-column: 2 / 3;
    align-content: center;
    text-align: center;
}

.direccion{
    border: 0.1em solid #300101;
    grid-column: 3 / 4;
    align-content: center;
    text-align: center;
}