html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: rgb(0, 8, 255);
}
#encabezado{
   border: 0.2em solid black;
   display: grid;
   grid-template-columns: 2fr 3fr 4fr;
   justify-items: center;
   align-items: center;
}
#encabezado img{
    width: 70%;
    height: 70%;
    aspect-ratio: 1/0.8;
    border-radius: 90%;
    object-fit: cover;
}
h1{
    font-size: 3rem;
    text-align: center;
}
#navegacion{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 1.3em;
    gap:0.3em
}
#navegacion a{
    text-decoration: none;
    text-shadow: 0.2em 0.2em gray;
    color: black;
    border: 0.1em solid black;
    padding: 0.5em;
    border-radius: 20%;
    background-color: lightgray;
    text-align: center;
}
#contenedor-noticias{
    border: 0.1em solid black;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
}
.noticias{
    border: 0.1em solid black;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.h2{
    grid-column: 1 / 4;
    text-align: center;
    align-content: center;
}  
.noticia{
    box-shadow: 0.2em 0.2em 0.2em black;
    border: o.2em solid black;
    align-content: center;
    justify-content: center;
    text-align: center;

}
.noticias-urgentes{
    border: 0.2em solid black;
    grid-column: 5 / 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
}

.noticias-urgentes .h2{ 
    text-align: center;
    align-content: center;
}
.noticia-u{
    order: 0.2em solid black;
    grid-column: 5 / 6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
}