html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor--flexible{
    border: 0.2cm, solid red;
    padding: 0.5cm;
    display: flex;
    /*flex direction (row,colum,row reverse y colum reverse)*/
    flex-direction: row;
    /*justify content(flex, start, flex end, center, space around, space betwen, space evenly)*/
    justify-content: space-evenly;
    /*align-items (flex-start, flex-end),center,strech, baseline*/
    align-items: baseline;
    flex-wrap: wrap;
}

.contenedor--flexible div{
    background-color: blue;
    border: 0.1em solid black;
    height: 10em;
    width: 20em;
    margin: 0.5em;
    flex-shrink: 0;
}

/*Propiedades felx, para objetos flexibles*/
.objeto1{
    /*flex-grow: 2;*/
    
}
.objeto2{
/*flex-shrink*/
}
.objeto3{
    /*flex-grow: 1;*/
    order: -1;
}
.objeto4{
    order: -2;
}
.encabezado{
    background-color: rgb(255, 0, 0);
    text-align: center;
    padding: 1cm;
    font-size: 2.5rem;
    font-weight: bold;
}